<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.matejkob.DarkModeSwitch.LaunchAgent</string>
	<key>BundleProgram</key>
	<string>Contents/Resources/LaunchAgent</string>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/io.github.matejkob.DarkModeSwitch.LaunchAgent.out</string>
	<key>StandardErrorPath</key>
	<string>/tmp/io.github.matejkob.DarkModeSwitch.LaunchAgent.err</string>
</dict>
</plist>
